* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.addresses-wrapper{
	padding: 20px;
	display: flex;
	gap:1%;
}

.address{
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
	padding: 40px 20px;
	border-radius: 10px;
	font-style: normal;
	background-color: #FFE4C4;
}

.address__delete-btn{
	position:absolute;
	background-color: #FF8E50;
	color:#FFF;
	text-decoration: none;
	font-size: 36px;
	line-height: 20px;
	padding: 10px;
	font-weight: bold;
	top:10px;
	right:10px;
	border-radius: 10px 0 0 10px;
}

.address__delete-btn:hover{
	background: #FFD050;
}

.address__status {
	width: 32px;
	position: absolute;
	bottom: 10px;
	right: 10px;
}

.address__header {
	display: block;
	margin-bottom: 10px;
}

.address__icon {
	width: 100px;
	float: left;
	margin-right: 10px;
}

 .address{
	position: relative;
	display:inline-block;
	width:35%;
	margin:1%;
}

.address:first-child{
	background-color:#F0FFC1;
	margin-left: 0;
}
.adress:last-child{
	background-color:#B6FFDA;
	margin-right: 0;
}

.address:hover{
	background-color:#F3F3F3 ;
}

@media (max-width: 767px) {
	.address {
		width: 100%;
		margin: 20px;
	}
}

